.sender {
  background-color: #f5f5f5;
}

.receiver {
  background-color: #e5ded8;
}

* {
  box-sizing: border-box;
}
.container {
  width: 400px;
  margin: 0 auto;
  border: solid 1px #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.chat-container {
  height: 400px;
  overflow: auto;
  transform: rotate(180deg);
  direction: rtl;
}
.chat-container .message {
  border-bottom: solid 1px #ccc;
  padding: 20px;
  transform: rotate(180deg);
  direction: ltr;
}
.chat-container .message .avatar {
  float: left;
  margin-right: 5px;
}
.chat-container .message .datetime {
  float: right;
  color: #999;
}
.send-message-form input {
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 10px;
}
.send-message-form button {
  display: none;
}
